
body {margin: 0px; padding: 0px; width: 100%; background-color:#920999; font-family: 'Poppins', sans-serif; font-size: 15pt;}

/*NAVIGATION TOOLS*/
nav {width: 100%; position: fixed absolute;}
/*Nav Toggle*/
 /*.main {margin: 0 auto; display: block; height: 100%; margin-top: 60px;}*/
 /*.mainInner {display: table; height: 100%; width: 100%; text-align: center;}*/
 /*.mainInner div{display:table-cell; vertical-align: middle; font-size: 3em; font-weight: bold; letter-spacing: 1.25px;}*/
 #sidebarMenu {z-index: 10; height: 100%; position: fixed; left: 0; width: 230px; margin-top: 0px; transform: translateX(-290px); transition: transform 250ms ease-in-out; background: linear-gradient(180deg,#920999 70%, #e0218a 100%);}
 .sidebarMenuInner {margin:0; padding: 90px 45px; border-top: 1px solid rgba(255, 255, 255, 0.10);}
 .sidebarMenuInner li {list-style: none; color: #FFF; padding: 15px 0px; cursor: pointer; border-bottom: 1px solid rgba(255, 255, 255, 0.10);}
 .sidebarMenuInner li a {display: flex; line-height: 27px; padding-top: 3px; transition: all 0.4s; color: #fff; font-size: 14px; cursor: pointer; text-decoration: none; text-transform: uppercase; font-family: 'Poppins', sans-serif, cursive; letter-spacing: 3px;}
 .sidebarMenuInner li a:hover {transition: all 0.4s; color: #e0218a; margin-left: 10px;}
 .sidebarMenuInner li a span {padding-right: 15px; padding-top: 0px;}
 .material-symbols-outlined {width: 40px; color: #920999; font-variation-settings:'FILL' 0,'wght' 500,'GRAD' 0,'opsz' 52}
 input[type=checkbox]:checked ~ #sidebarMenu {transform: translateX(0);}
 input[type=checkbox] {transition: all 0.3s; box-sizing: border-box; display: none;}
 .sidebarIconToggle {transition: all 0.3s; box-sizing: border-box; cursor: pointer; position: absolute; z-index: 99; height: 100%; width: 100%; top: 40px; left: 40px; height: 25px; width: 35px; position: fixed;}.spinner {transition: all 0.3s; box-sizing: border-box; position: absolute; height: 5px; width: 100%; border-radius: 4px; background-color: #920999;}
 .horizontal {transition: all 0.3s; box-sizing: border-box; position: relative; float: top; margin-top: 6px;}
 .diagonal.part-1 {position: relative; transition: all 0.3s; box-sizing: border-box; float: top; }
 .diagonal.part-2 {transition: all 0.3s; box-sizing: border-box; position: relative; float: top; margin-top: 6px;}
 input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {transition: all 0.3s; box-sizing: border-box; opacity: 0;}
 input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {transition: all 0.3s; box-sizing: border-box; transform: rotate(135deg); margin-top: 16px; background-color: #e0218a; }
 input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {transition: all 0.3s; box-sizing: border-box; transform: rotate(-135deg);  margin-top: -16px; background-color: #e0218a; }
/*Nav Icons*/
 .MenuIconboxes {display: flex; text-align: center; justify-content: space-between; position: absolute; z-index: 4; margin-top:15px; margin-bottom:20px; width: 60%;}
 .MenuIconboxes img {height:65px; width: auto;}
 .menucopyrightsentence {color:#ffff; font-size: .7rem; bottom: 0px;}
 .FacebookMenuIcon { margin: 0px 5px 0px 0px; width: 40px; height:65px; transition: all 0.2s;}
 .FacebookMenuIcon:hover {animation: jiggle 0.3s;animation-iteration-count: infinite;}
 @keyframes jiggle {0% {transform: rotate(-6deg);} 50% {transform: rotate(6deg);}}
 .InstagramMenuIcon {margin: 0px 5px; width: 40px; height:65px; transition: all 0.5s;}
 .InstagramMenuIcon:hover {animation: jiggle 0.3s;animation-iteration-count: infinite;}
 @keyframes jiggle {0% {transform: rotate(-6deg);} 50% {transform: rotate(6deg);}}
 .EmailMenuIcon {margin: 0px 5px; width: 40px; height:65px; transition: all 0.2s;}
 .EmailMenuIcon:hover {animation: jiggle 0.3s;animation-iteration-count: infinite;}
 @keyframes jiggle {0% {transform: rotate(-6deg);} 50% {transform: rotate(6deg);}}

/*HEADERS*/
  header {overflow: hidden; margin:0px; padding: 0px; height:auto; width:auto;}
  header img{width: 100%; height: auto; margin: 0px; padding: 0px;}
 
/*WAVES*/
  .container {height: 140px; z-index: 9; align-items: center; overflow: hidden; margin-bottom:-10px;}
  .ocean {z-index: 9; height: 1%; width: 100%; position: relative; bottom: 0; left: 0;}
  .wave2 {background: url(../images/wave2.svg) repeat-x; position: absolute; bottom: 0; width: 6400px; height: 198px; animation: wave 8s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite; transform: translate3d(0, 0, 0);}
  .wave2:nth-of-type(1) {bottom: 0px; animation: wave2 7.6s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell2 8s ease -1.125s infinite; opacity: 1;}
  .wave2:nth-of-type(2) {bottom: 0px; animation: wave2 8s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell2 8s ease -1.125s infinite; opacity: 1;}
  @keyframes wave2 {0% {margin-left: 0;}100% {margin-left: -1600px; }}
  @keyframes swell2 {0%, 100% {transform: translate3d(0, -2px, 0);} 50% {transform: translate3d (0, 5px, 0);}}
  .endWave2{display:none;}
  .wave5 {background: url(../images/wave5.svg) repeat-x; position: absolute; bottom: 0; width: 6400px; height: 70px; animation: wave 8s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite; transform: translate3d(0, 0, 0);}
  .wave5:nth-of-type(1) {bottom: 7px; animation: wave5 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell2 8s ease -1.125s infinite; opacity: 1;}
  .wave5:nth-of-type(2) {bottom: 0px; animation: wave5 8s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell2 8s ease -1.125s infinite; opacity: 1;}
  @keyframes wave5 {0% {margin-left: 0;}100% {margin-left: -1600px; }}
  @keyframes swell2 {0%, 100% {transform: translate3d(0, -2px, 0);} 50% {transform: translate3d (0, 5px, 0);}}
  .endWave5{display:none;}

/*HOME PAGE LAYOUT*/
  #indexsection1 {background-color: linear-gradient(70deg,#920999 70%, #710876 100%); height: auto; padding: 0px 60px 0px 60px; margin: 0px 0px 0px 0px;}
  #indexsection1 h1{font-size: 2rem; color:#fff; line-height: 35px; text-align: center;}
  
  .grid {display: grid; grid-template-columns: repeat(2, 1fr); gap: 0%; position: absolute; z-index: 1;}
  .square {aspect-ratio: 1/ 1; display: flex; align-items: center; padding: 10%; color: #fff;}
  .square p {text-align: justify;}
  .instawidgetbox {width: 100%; padding: 20px 0px 10px 0px; margin-bottom: 30px; background-color: #e0218a; text-align: center;}
 
/*ABOUT PAGE LAYOUT*/
 .aboutsection {width:"100%"; padding: 0px; text-align: center; margin-bottom: 60px;}
 .aboutsection img {margin-right: 50px; margin-bottom: 10px; float: left;}
 .aboutsection p {color:#920999; text-align: justify;}

/*GALLERY PAGE LAYOUT*/
  div.gallery {background-color: #920999; border-radius: 5%;}  
  div.gallery:hover {border: 2px solid #920999;}  
  div.gallery img {width: 100%; height: auto; border-radius: 5% 5% 0% 0%;}  
  div.desc {padding: 7px 7px 15px 7px; text-align: center; color: #fff; font-size: .80rem;}
  * {box-sizing: border-box;}
  .responsive {padding: 0 6px; float: left; width: 24.99999%; margin-bottom: 20px;}
  .clearfix:after {content: ""; display: table; clear: both;}

/*BOOKING PAGE*/
  .contactcontainer {width: 100%; height: 700px; display: flex; flex-direction: row; padding: 0 60px 0 60px;}
  .contactcontainer iframe {width: 49%; height: auto; border-radius: 20px; margin-right: 20px;}
  .formcontainer {display: flex; padding: 60px 60px; flex-direction: row; align-items: center; width: 90%; height: 900px; justify-content: space-around; margin: 0 auto 40px auto; background: rgb(255, 255, 255); border-radius: 20px; box-shadow: 0px 15px 16px 0.17px rgba(0, 0, 0, 0.05);}
  .overlay {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); backdrop-filter: blur(3px); z-index: 5;}
  .signup { margin-bottom: 150px; }

  input[id="name"], [id="email"], [id="phone"] {width: 100%; height:auto; display: block; border: none; border-bottom: 1px solid #999; padding: 6px 0px; box-sizing: border-box; outline: none; appearance: unset;}
  input[id="name"]:focus, [id="email"]:focus, [id="phone"]:focus {outline: none; box-shadow: none;}
  input[id="name"], [id="email"], [id="phone"] { appearance: checkbox;}

  textarea[id="message"] {width: 100%; height:100%; display: block; padding: 10px 10px; box-sizing: border-box; border: none; outline: none; appearance: unset;}
  textarea[id="message"] { appearance: checkbox;}
  textarea[id="message"]:focus {outline: none; box-shadow: none;} 

  h5 {margin: 0; padding: 0; font-weight: 700; color: #00a3ff; font-size: 2.5rem;}
  h6 {margin: 0; padding: 0; font-weight: 700; color: #00a3ff; font-size: 1.1rem;}

  #message-group {position: relative; margin-bottom: 10px; margin-top: 30px;}
  #messagecontainer {width: 100%; height: 150px; border:#00a3ff solid 1.5px;}
 
  #bookingdefaultcontainer {width: 100%; height: 30px; background-color:#fff; border-radius: 2px;}
  #bookingdefaultcontainer input{border: 0; padding: 7px 10px 7px 10px; background-color:#00a3ff; color: #fff; width: 100%; height: 30px;}
 
  .form {margin: 0 auto;  width: 600px;}
  .form-title {margin-bottom: 10px; cursor: pointer;}
  
  /*REGISTER BUTTON*/
    .formcontainer button {display: inline-block; background: #00a3ff; color: #fff; border: none; width: 150px; height: 40px; padding: 10px 21px; border-radius: 10px; margin-top: 12px; cursor: pointer;}
    .formcontainer button:hover {background: #053d43;}
  
  /*CONTAINER THAT HOLD FORM*/
    .signup-form {margin: 0px; width: 100%; padding-left: 0px;}
  
  #form-group, #form-group2, #form-group3, #personaldetailsheading, #date {position: relative; margin-bottom: 0px; overflow: hidden;}
  #form-group:last-child {margin-bottom: 0;}
  .small {font-size: .6em; color:#00a3ff; margin-bottom: 5px; margin-top:5px;}
  
  /*ICON PLACEMENTS*/
    label {position: absolute; left: 0; top: 35%; transform: translateY(-50%); color: #cc9900;}

  .input-container input {border: none; box-sizing: border-box; outline: 0; padding: .75rem; position: relative; width: 100%;}
  input[type="date"]::-webkit-calendar-picker-indicator {background: transparent; bottom: 0; color: transparent; cursor: pointer; height: auto; left: 0; position: absolute; right: 0; top: 0; width: auto;}
  input[type="date"] { position: relative;}
  input[type="date"]:after {content: "\25BC"; color: #00a3ff; padding: 0 5px; }
  /* change color of symbol on hover */
  input[type="date"]:hover:after {color: #00a3ff;}
  /* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
  input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: auto; height: auto; color: transparent; background: transparent;}
  /* adjust increase/decrease button */
  input[type="date"]::-webkit-inner-spin-button {z-index: 1;}
  /* adjust clear button */
  input[type="date"]::-webkit-clear-button {z-index: 1;}
  
  #service {width: 100%; padding: 12px 12px 12px 5px; border-color: #000 1px solid; color:#00a3ff;margin-bottom:20px;}
  #service:hover {cursor:pointer;}
  #service:after {border: none;}

  .date {width: 100%; padding: 10px 2px 10px 10px; border-color: #00a3ff 1.5px solid; color:#00a3ff; margin-bottom:15px; }
  .date:hover {cursor:pointer;}
  .formblueboxtitle {width:"100%"; padding:5px 10px; background-color: #00a3ff; color:white; font-size: 1rem; margin-bottom: 15px; margin-top: 15px;}
  #messagecontainer {width: 100%; height: 150px; border:#00a3ff solid 1px;}
  textarea[id="name"], [id="email"], [id="phone"], [id="message"], [id="name"] {color:#767676; font-family: 'Poppins', sans-serif;}

/*FOOTER*/
  footer {position: absolute fixed; width: 100%; height: 200px; text-align: center; justify-content: center; margin-top: 40px;}
  .FooterIconboxes {display: flex; flex-direction: row; justify-content: center; width: 100%;}
  .FooterIconboxes img {height:65px; width: auto;}









/*Media Querries*/
/*1000*/
  @media screen and (max-width: 1065px) {.square p {font-size: 1em;}}
  @media screen and (max-width: 1033px) {.square p {font-size: .9em;}}
/*900*/
  @media screen and (max-width: 920px) {#indexsection1 span {display: block;} .square p {line-height: 22px;}}
/*800*/  
  @media screen and (max-width: 868px) {.square p {font-size: .8em;}}
/*700*/  
  @media screen and (max-width: 785px) {body {font-size: .8em;} .wave2 {height: 60px; background: url(../images/wave4.svg);}.formcontainer {padding: 40px 60px; height: auto;} }
  @media only screen and (max-width: 700px) {.responsive { width: 49.99999%; margin: 6px 0; }} 
/*600*/
  @media screen and (max-width: 682px) {body {font-size: .6em;} .square p { line-height: 20px;}}
  @media screen and (max-width: 664px) {.sidebarIconToggle {top: 30px; left: 30px; height: 25px; width: 35px;}}
  @media screen and (max-width: 602px) {body {font-size: .6em;} .wave5 {background: url(../images/wave5.svg) repeat-x; position: absolute; bottom: 0; width: 6400px; height: 35px; animation: wave 30s cubic-bezier(0.50, 0.50, 0.50, 0.50) infinite; transform: translate3d(0, 0, 0);}
        @keyframes swell2 {0%, 100% {transform: translate3d(0, 3px, 0);} 50% {transform: translate3d (0, 5px, 0);}}}
/*500*/
  @media screen and (max-width: 586px) {body {font-size: .7em;} #indexsection1 h1{font-size: 1.3rem; line-height: 24px;}}
  @media screen and (max-width: 555px) {.sidebarIconToggle {top: 25px; left: 25px; height: 15px; width: 35px;} .square p {line-height: 16px;}}
  @media screen and (max-width: 516px) {#indexsection1 h1{font-size: 1.5rem; line-height: 30px;} body {font-size: .5em;}} 
  @media screen and (max-width: 586px) { #indexsection1 h1{font-size: 1.3rem; line-height: 24px;}}
  @media only screen and (max-width: 500px) {.responsive {width: 100%;} } 
/*400*/
  @media screen and (max-width: 495px) {h6 {font-size: .9rem;}}
  @media screen and (max-width: 488px) {.sidebarIconToggle {transition: all 0.3s; box-sizing: border-box; cursor: pointer; position: absolute; z-index: 99; height: 100%; width: 100%; height: 20px; width: 30px; position: fixed;} .horizontal {margin-top: 6px;} .diagonal.part-2 {margin-top: 6px;}}
  @media screen and (max-width: 480px) {.square p {line-height: 12px;}}
  @media screen and (max-width: 422px) {h6 {font-size: .7rem;}}  
  @media screen and (max-width: 414px) {body {font-size: .5em;} #indexsection1 h1{font-size: 1.3rem; line-height: 24px;} #indexpurplesection {background-image: url(../images/comicsashaysmallest.png);} .wave2 {background: url(../images/wave4.svg) repeat-x; position: absolute; bottom: 0; width: 6400px; height: 44px; animation: wave 8s cubic-bezier(0.50, 0.50, 0.50, 0.50) infinite; transform: translate3d(0, 0, 0);} @keyframes swell2 {0%, 100% {transform: translate3d(0, 3px, 0);} 50% {transform: translate3d (0, 5px, 0);}}}
/*300*/
  @media screen and (max-width: 374px) {#indexsection1 h1{font-size: 1.1rem; line-height: 22px;}}
  @media screen and (max-width: 368px) {.square p {line-height:11px;} body {font-size: .4.5em;} footer img {height:30px;} .instawidgetbox img{height: 40px;} .formblueboxtitle{font-size: .6rem;} h6 {font-size: .5rem;}}
  @media screen and (max-width: 340px) {body {font-size: .4em;} #indexsection1 h1{font-size: 1rem; line-height: 20px;}}
  @media screen and (max-width: 324px) {.square p {line-height: 9px;}}
  @media screen and (max-width: 300px) {.square p {line-height: 7px;}}


  
  

